@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500&display=swap");

:root,
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	border: 0;
}

:root {
	/* Primary colors. */
	--soft-blue: hsl(215, 51%, 70%);
	--cyan: hsl(178, 100%, 50%);
	/* Neutral colors. */
	--very-dark-blue-main-bg: hsl(217, 54%, 11%);
	--very-dark-blue-card-bg: hsl(216, 50%, 16%);
	--very-dark-blue-line: hsl(215, 32%, 27%);
	--white: hsl(0, 0%, 100%);
	/* Footer colors. */
	--attribution-blue: hsl(228, 45%, 44%);
	--brandeis-blue: hsl(212, 95%, 48%);
	/* Other variables */
	--padding-mobile: 23px;
	--border-radius-card: 0.875rem;
	--border-radius-image: 0.5rem;
}

body {
	min-height: 100vh;
	font-family: "Outfit", sans-serif;
	background-color: var(--very-dark-blue-main-bg);
	color: var(--white);
	display: grid;
	place-content: center;
}

.nft-preview-card {
	max-width: 326px;
	place-self: center;
	background-color: var(--very-dark-blue-card-bg);
	border-radius: var(--border-radius-card);
}

.nft-preview-card__equilibrium {
	max-width: 100%;
	/*
	 * border-radius does not play nice with
	 * padding, so you have to sum the padding
	 * pixels with the border-radius that you want.
	 * For more:
	 * https://stackoverflow.com/questions/9409632/border-radius-and-padding-not-playing-nice
	*/
	padding: var(--padding-mobile);
	border-radius: calc(var(--padding-mobile) + var(--border-radius-image));
}

.nft-preview-card__text {
	padding: 0 var(--padding-mobile) var(--padding-mobile);
	margin-top: -6px;
}

.nft-preview-card__title {
	font-size: 1.375rem;
	font-weight: 500;
}

.nft-preview-card__description {
	color: var(--soft-blue);
	font-weight: 300;
	padding: 0.75rem 0;
}

.nft-preview-card__product-info-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.nft-preview-card__price {
	color: var(--cyan);
	font-weight: 400;
}

.nft-preview-card__eth-icon {
	margin-bottom: -0.25rem;
	margin-right: 0.125rem;
}

.nft-preview-card__time-left {
	color: var(--soft-blue);
	font-weight: 300;
}

.nft-preview-card__clock-icon {
	margin-bottom: -0.1875rem;
	margin-right: 0.125rem;
}

.nft-preview-card__author-line {
	background-color: var(--soft-blue);
	width: 100%;
	height: 0.0625rem;
	margin: 1rem 0;
}

.nft-preview-card__author-avatar {
	width: 2.125rem;
	border: 1px solid var(--white);
	border-radius: 50%;
}

.attribution {
	font-size: 11px;
	text-align: center;
}

.attribution a {
	color: var(--attribution-blue);
}
